/* GLOBAL RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background: linear-gradient(135deg, #eef2f7, #d9e4f5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1000px;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logout-btn {
    background: #dc3545;
    color: white;
     padding: 8px 14px;
    border-radius: 6px;
}

/* CARD */
.card {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

thead {
    background: #f1f5f9;
}

th, td {
    padding: 12px;
    text-align: left;
}

tbody tr:hover {
    background: #f8fafc;
}

/* BUTTONS */
button {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.approve-btn {
    background: #28a745;
    color: white;
}

.reject-btn {
    background: #dc3545;
    color: white;
}
